/* a {
    text-decoration: none;
} */

#weather {
    color: white;
    text-align: right;
    position: absolute;
    left: 86%;
    top: 2%;
}

h2 {
    color: white;
    text-align: center;
    font-size: 130px;
    margin-top: 11%;
    margin-bottom: 5px;
}

#login-form {
    text-align: center;
    margin-top: 5px;
}

#login-form input {
    color: white;
    background-color: transparent;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-position: bottom 5px center;
    background-size: calc(100% - 10px) 2px;
    background-repeat: no-repeat;
    border: 0px;
    outline: 0px;
    font-size: 30px;
}

#greeting {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 8px;
}

#todo-form {
    text-align: center;
}

#todo-form input {
    color: white;
    background-color: transparent;
    border: 0px;
    outline: 0px;
    font-size: 20px;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-position: bottom 5px center;
    background-size: calc(100% - 10px) 2px;
    background-repeat: no-repeat;
    padding: 3px;
    margin-top: 1px;
}

#todo-list {
    color: white;
    text-align: left;
    margin-left: 30%;
    list-style: none;
    margin-bottom: 6%;
}

#todo-list span {
    font-size: 16px;
}

#todo-list button {
    margin-right: 8px;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 0px;
    outline: 0px;
}

#quote {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

#quote div {
    font-size: 16px;
}

.hidden {
    display: none;
}